<!DOCTYPE html>
<html ng-app="userRegistration">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/register.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script type="text/javascript" src="assets/js/user.js"></script>
    <script type="text/javascript" src="assets/js/app.js"></script>
    <title>MyDreamList | Register </title>
  </head>

  <body ng-app="main">
    <ng-view></ng-view>
    <div class="container main">
      <div>
        <h5 class="text-center"> Sign Up </h5>
      </div>
      <form name="registeration" ng-controller="UserController" ng-submit="confirm(registeration.$valid) && createUser()" novalidate >
        <div class="form-group">
          <label for="name">Name</label>
          <input name="name" ng-model="user.name"  class="form-control " id="name" required>
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" ng-model="user.email"  class="form-control" id="email" required>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" ng-model="user.password"  class="form-control" id="password" required>
        </div>

        <div class="form-group">
          <label for="passwordConfirm">Confirm Password</label>
          <input type="password" name="passwordConfirm" ng-model="user.passwordConfirm"  class="form-control" id="passwordConfirm" required>
        </div>
        <a href="app.html">go</a>

         <div class="form-group">
          <input type="submit" value="submit" class="form-control btn-primary submit-button">
        </div>
        <div> {{ registeration.$valid }}</div>
      </form>
    </div>
  </body>
</html>
