.main {
  background-color: white;
  opacity: 0.76;
  border: 1px solid #E3E3E3;
  border-radius: 5px;
  padding: 25px;
  margin-top: 10%;
  width: 30%;
}

.input-field {
  margin-top: 2em;
}

.submit-button {
  background-color: #621e48;
  color: white;
  font-size: 1em;
}

.submit-button:hover {
  background-color: #270c1d
}

select {
  width: 30% !important;
}

.ng-invalid.ng-dirty {
  border-color: #FA787E;

}

.ng-valid.ng-dirty {
  border-color: #78FA89;
}


.error-page{
  background-image: url("../images/404.jpg");
  background-size: 100% auto;
}

.error {
  color: red;
  text-align: center;
}

.main-bucketlist {
  border: 2px solid red;
  padding: 3em;
  min-height: 20px;
  width: 100%;
}

.blist {
  background-color: #fff;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  height: auto;
  margin-bottom: 10px;
  padding:  0.5em 1.5em 0.5em 0.5em;
  width: 85%;
}

.done{
    color: green;
}

.pending {
  color: red;

}

.items {
  color: blue;
}

.blistrow{
  padding: 5px 10px 15px 20px;
}

.blist-name{
  color: #5D5D5D;
  font-size: 18px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;

  margin: 1.5em 10px;
  padding: 0.5em 10px;
  width: 80%;
}

.navbar{
  background-color: black !important;

}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-brand:hover {
    color: #c49500;
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #c49500;
    background-color: transparent;
